Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:  
    - Python  
    - R  
    - SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:<br>
    - Numpy <br>
    - Pandas <br>
    - Scikit-learn

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|Apache Zeppelin|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8 - Create a code cell to multiply and add numbers

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [15]:
# This will convert 200 minutes to hours by diving by 60
result = 200/60
print ("Result = ",round(result,2),"hours")

Result =  3.33 hours

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Python
- R
- Jupyter
- Julia
- Scala

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Tuan Trinh